.blog {
            border: 5px double black;
            background-color: bisque;
            border-radius: 5px;
            padding: 5px;
            margin: 10px;
            text-align: justify;
        }

h3 {
    text-align: center;
    color: red;
}
.header {
    height: 60px;
    text-align: center;
    color: blue;
}
